body{
  background: grey;
}
#filmTitle{
  text-align: center;
}
#showingTitle{
  text-align: center;

}
#headTitle{
  text-align: center;
}
#mviedet{
  list-style: none;
}
#films{
  height: 50vh;
  width: 50vh;
  display: flex;
}
#movie-showing {
  height: 50vh;
  width: 50vh;
  margin: auto;
  position: relative; left: 30px;
}
.col{
  height: 50vh;
  width: 50vh;
  margin: auto;
  position: relative; left: 30px;
}
#block{
  height: 50vh;
  width: 50vh;
  margin: auto;
}
#film-poster{
  height: 50vh;
  width: 50vh;
  object-fit: cover;
  object-fit: scale-down;
}